# IntelliJ project files
.idea
*.iml
out
gen

# env
.env

# Kubernetes resources
*secret.yaml
argocd-ingress.yaml

# Temporary files
*.tmp
*.bak
*.swp

# OS files
.DS_Store
Thumbs.db

# Claude Code
.claude/settings.local.json